/build
/lakefile.olean
/lake-packages/*
/_site
.DS_Store
.lake
_out
*.olean
/.verso/
/src/tests/integration/**/output
/node_modules
*.hash
profile.json
profile.json.gz
/src/tests/integration/**/*.log
/src/tests/integration/**/*.aux
/src/tests/integration/**/*.out
/src/tests/integration/**/*.pdf
/src/tests/integration/**/*.toc
multi.json
single.json
*.html
