
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-size: 14px;
}
/***********************************/

li {
    margin-left: 1.5em;
}

pre {
    font-family: monospace;
}

p, pre {
    line-height: 1.25;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 140%;
}

h3 {
    font-size: 130%;
}

h4 {
    font-size: 120%;
}

h5 {
    font-size: 110%;
}

h6 {
    font-size: 105%;
}

header, div.main {
    margin-left: 4em;
    margin-right: 4em;
    max-width: 50em;
}

header {
    margin-bottom: 1.5em;
}

.main p, .main pre {
  margin-bottom: 0.5em;
}

div.metadata {
    margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

div.category-directory {
    margin-top: 2em;
}

div.category-directory h2 {
    font-size: 100%;
}

div.category-directory li {
    display: inline;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 90%;
}

div.category-directory li:has( + li)::after {
    content: ", ";
}

ul.categories li {
    display: inline;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.categories li:first-child::before {
    content: "In: ";
}


ul.categories li:has( + li)::after {
    content: ", ";
}


.lexed.json .brace {
    color: #0000aa;
}
.lexed.json .arr {
    color: #008800;
}
.lexed.json .delim {
    color: #808030;
}
.lexed.json .str {
    text-decoration: underline;
}
.lexed.json .num {
    font-weight: bold;
}
.lexed.json .null {
    font-weight: bold;
    color: #ff0000;
}
.lexed.json .bool {
    color: #aa0;
}
