html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/******************/

body {
  font-family: Georgia,Times,"Times New Roman",serif;
  color: #313130;
}

header .inner-wrap {
  min-height: 100px;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding: 1.618em;
}

.logo {
  float: left;
  display: block;
  height: 60px;
}
.logo img {
  height: 100%;
}

nav a {
  text-decoration: none;
}

nav.top {
  float: right;
}

nav.top ol {
  list-style: none;
  float: right;
}

nav.top ol li {
  float: left;
}

nav.top ol li a {
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}

nav ol li a {
  position: relative;
  display: block;
  margin-right: 1.618em;
  padding: 15px 0 15px;
  height: 60px;
  font-family: "Helvetica Neue","Segoe UI",Arial,sans-serif;
}

.main .wrap {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}

.main ul, .main ol {
  padding: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue","Segoe UI",Arial,sans-serif;
  text-rendering: optimizeLegibility;
  margin-top: 1.5rem;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.25;
  margin-bottom: 1.5rem;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.25;
  margin-bottom: 1.5rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.15;
  margin-bottom: 1.5rem;
}

.main li {
  line-height: 1.3333333333;
  margin-bottom: 14px;
  margin-bottom: .875rem;
}

.main p a, .main li a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted #a2a2a2;
}

.main p a:hover, .main li a:hover {
  border-bottom-style: solid;
}

.main p {
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
  line-height: 1.55555;
}


/*************/
.hl.lean .keyword {
  font-weight : bold;
}

.hl.lean .var {
  font-style: italic;
  position: relative;
}

.hover-container {
    width: 0;
    height: 0;
    position: relative;
    display: inline;
}

.hl.lean .hover-info {
  display: none;
  background-color: #e5e5e5;
  border: 1px solid black;
  padding: 0.5em;
  z-index: 200;
}

.hl.lean .token:hover .hover-info {
  display: inline-block;
  position: absolute;
  top: 1em;
  font-weight: normal;
  font-style: normal;
}


.binding-hl {
    background-color: #eee;
    border-radius: 2px;
}
