on:
  push:
  pull_request:

name: continuous integration

jobs:
  build:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: install elan
        run: |
          set -o pipefail
          curl -sSfL https://github.com/leanprover/elan/releases/download/v3.0.0/elan-x86_64-unknown-linux-gnu.tar.gz | tar xz
          ./elan-init -y --default-toolchain none
          echo "$HOME/.elan/bin" >> $GITHUB_PATH

      - uses: actions/checkout@v3

      - name: List all files
        run: |
          find . -name "*.lean" -type f

      - name: lean version
        run: |
          lean --version

      - name: Build the project
        run: |
          lake build

      - name: Install Dependencies
        run: sudo apt update && sudo apt install -y pandoc texlive-latex-base texlive-latex-extra texlive-latex-recommended texlive-luatex fonts-dejavu


      - name: Generate the manual
        run: |
          ./generate.sh
          cp _out/tex/main.pdf ./manual.pdf

      - name: Upload PDF to artifact storage
        if: github.ref != 'refs/heads/main'
        uses: actions/upload-artifact@v3
        with:
          name: "Verso manual"
          path: "manual.pdf"

      - uses: "marvinpinto/action-automatic-releases@latest"
        if: github.ref == 'refs/heads/main'
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          title: "Verso manual"
          files: |
            manual.pdf
